In [1]:
import pandas as pd
import numpy as np

## Creating Indicator

In [2]:
df = pd.read_csv('Singapore Resident Data Clean.csv')
df.head()

,Planning Area,Subzone,Total,0 4,5 9,10 14,15 19,20 24,25 29,30 34,...,40 44,45 49,50 54,55 59,60 64,65 69,70 74,75 79,80 84,85 & Over
0,Ang Mo Kio,Total,174770,6790,7660,8290,9320,10310,11170,12250.0,...,13710,13000,14010,13800,12980,11050,6670.0,5140.0,3250.0,2300.0
1,Bedok,Total,289750,11690,13400,14750,16930,19450,19860,19270.0,...,22520,21460,23430,23380,20590,16750,9310.0,7330.0,4760.0,4010.0
2,Bishan,Total,90700,3430,4330,4710,5520,6860,6460,5720.0,...,7070,6800,7540,7700,6360,4860,2730.0,2140.0,1370.0,1090.0
3,Boon Lay,Total,30,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,Bukit Batok,Total,139270,5510,6890,7970,9240,10070,10460,9760.0,...,10980,11310,12190,11770,9370,5990,3060.0,2230.0,1450.0,1090.0

In [3]:
df.columns

Index(['Planning Area', 'Subzone', 'Total', '0  4', '5  9', '10  14', '15  19',
       '20  24', '25  29', '30  34', '35  39', '40  44', '45  49', '50  54',
       '55  59', '60  64', '65  69', '70  74', '75  79', '80  84',
       '85 & Over'],
      dtype='object')

In [4]:
df = df.fillna(0)

In [5]:
for col in df.columns[2:]:
    df[col] = df[col].astype('int64')

In [6]:
df['dependent'] = df['60  64'] + df['65  69'] + df['70  74'] + df['75  79'] + df['80  84'] + df['85 & Over']
df['rescuer'] = df['15  19'] + df['20  24'] + df['25  29'] + df['30  34'] + df['35  39'] + df['40  44'] + df['45  49'] + df['50  54'] + df['55  59']

In [7]:
indicator = []
for index, row in df.iterrows():
    try:
        ind = row['dependent'] / row['rescuer']
        indicator.append(ind)
    except:
        indicator.append(0)
df['indicator'] = indicator

In [32]:
df[['Planning Area', 'indicator']].to_csv('Dependency Indicator.csv')

## Creating Dummy Data

In [8]:
add = pd.read_csv('address_coord_postcode.csv')
add.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y
0,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275805,103.849615,103.849615,18906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29813.66349,28697.52076
1,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,18907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.83890,28602.98724
2,5A MARINA GARDENS DRIVE SINGAPORE 018910,5A,NIL,1.279587,103.868956,103.868956,18910,MARINA GARDENS DRIVE,5A MARINA GARDENS DRIVE SINGAPORE 018910,31966.12079,29115.75337
3,2 CENTRAL BOULEVARD CENTRAL BOULEVARD TOWERS S...,2,CENTRAL BOULEVARD TOWERS,1.279744,103.851591,103.851591,18916,CENTRAL BOULEVARD,CENTRAL BOULEVARD TOWERS,30033.60446,29133.10468
4,21 PARK STREET CITIBANK TRADE_BRANCH SINGAPORE...,21,CITIBANK TRADE_BRANCH,1.276424,103.854759,103.854759,18925,PARK STREET,CITIBANK TRADE_BRANCH,30386.13730,28766.04895

In [9]:
len(add)

141902

In [19]:
from random import randrange
import datetime 

def random_date(start,l):
   current = start
   while l >= 0:
      curr = current + datetime.timedelta(seconds=randrange(10*24*3600))
      yield curr
      l-=1
    
startDate = datetime.datetime(2020, 6, 14, 00, 00, 00)

In [35]:
# Creating 100 cases over 10 days
import random

index = random.sample(range(0, 141901), 100)
is_diabetes = 30*[1] + 70*[0]
random.shuffle(is_diabetes)
is_heartdisease = 25*[1] + 75*[0]
random.shuffle(is_heartdisease)
is_stroke = 25*[1] + 75*[0]
random.shuffle(is_stroke)
blood_type = 25*['A', 'B', 'AB', 'O']
random.shuffle(blood_type)
age = np.random.normal(70, 5, 100).astype(np.uint32)
time = [x.strftime("%d/%m/%y %H:%M:%S") for x in random_date(startDate,99)]

In [31]:
len(time)

100

In [38]:
dummy = add.iloc[index]
dummy['is_diabetes'] = is_diabetes
dummy['is_heartdisease'] = is_heartdisease
dummy['is_stroke'] = is_stroke
dummy['blood_type'] = blood_type
dummy['age'] = age
dummy['time']= time

c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\maula\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [39]:
dummy = dummy.sort_values('time')
dummy.reset_index(inplace = True)
dummy.drop('index', axis = 1, inplace = True)
dummy.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,is_diabetes,is_heartdisease,is_stroke,blood_type,age,time
0,91A LORONG H TELOK KURAU SINGAPORE 426107,91A,NIL,1.316835,103.912156,103.912156,426107,LORONG H TELOK KURAU,91A LORONG H TELOK KURAU SINGAPORE 426107,36773.88009,33234.58431,0,1,0,AB,70,14/06/20 02:06:46
1,57 JALAN HITAM MANIS CHIP BEE GARDENS SINGAPOR...,57,CHIP BEE GARDENS,1.308176,103.799008,103.799008,278471,JALAN HITAM MANIS,CHIP BEE GARDENS,24181.56822,32276.97704,1,0,0,AB,78,14/06/20 03:02:04
2,85 SULTAN GATE ISTANA KAMPONG GLAM SINGAPORE 1...,85,ISTANA KAMPONG GLAM,1.302385,103.859902,103.859902,198501,SULTAN GATE,ISTANA KAMPONG GLAM,30958.47854,31636.70503,1,0,0,AB,74,14/06/20 04:01:59
3,910F UPPER THOMSON ROAD SINGAPORE 787112,910F,NIL,1.398704,103.818233,103.818233,787112,UPPER THOMSON ROAD,910F UPPER THOMSON ROAD SINGAPORE 787112,26321.14479,42287.05690,0,0,0,AB,64,14/06/20 07:01:17
4,12 JALAN JAMBU MAWAR HOCK SENG PARK SINGAPORE ...,12,HOCK SENG PARK,1.335540,103.787660,103.787660,588673,JALAN JAMBU MAWAR,HOCK SENG PARK,22918.64671,35302.78474,0,0,0,A,72,14/06/20 11:00:19

In [40]:
dummy.to_csv('Dummy Data.csv')